html, body {
  font-family: 'Inter', sans-serif;
  text-align: center
}

h1 {
  color:black;
}

.title {
  font-size: 100px;
  color: black;
}

footer {
  display: block;
  background-color: lightblue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.topnav {
  text-align: right;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #6e89ff;
  overflow: hidden;
}