html, body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-color: #2C2F33;
  color: white;
  margin: 0px;
}

button {
  margin: 5px;
  border-radius: 12px;
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin-top: 0px;
  font-size: 18px;
  /* background-color: #99AAb5; */

}

p {
  font-size: 25px;
  margin-top: 20px;
  /* margin-left: 100px;
  margin-right: 100px; */
  width: 60vw;
  margin-left: 16vw;
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
  background-color: #7289DA;
  padding: 4vw;
  border-radius: 30px;
}

.login {
  width: 24vw;
}

.createTemplate {
  width: 44vw;
}

.welcome {
  color:white;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 150px;
}

.title {
  font-family: sans-serif;
  font-size: 150px;
  margin-top: 20px;
  margin-bottom: 55px;
  background: linear-gradient(90deg, #7289da, #f47fff);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: transparent;
}

header {
  text-align: right;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #7289DA;
  overflow: hidden;
  display: block;
  position: fixed;
}


footer {
  display: block;
  background-color: #7289DA;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.circle {
  border-radius: 30%;
  object-fit:cover;
}

.headerEle {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}