/*body{
    margin: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

html, body {
    font-family: 'Inter', sans-serif;
    text-align: left;
    background-color: #2C2F33;
    color: white;
    margin: 2em;
  }
  
.trade_title{
  text-align: center;
  font-family: sans-serif;
  font-size: 75px;
  margin-top: 20px;
  background: linear-gradient(90deg, #7289da, #f47fff);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: transparent;
}
.profile_picture{
    width:100%;
    max-width:2em;
    border-radius: 50%;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
}

.username{
    grid-row-start:1;
    grid-column-start: 2;
}

.user_id{
    grid-row-start:2;
    grid-column-start: 2;
}

.user_page_contact{
    grid-row-start:3;
    grid-column-start: 2;
}

.sticker_list,.owner_list{
    background-color: #7289DA;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em 0em #00000033;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sticker_info,.user_info{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f47fff;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em 0em #00000033;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.PetrSticker,.User{
    /*padding: 1%,5%,1%,10%;*/
    padding-left: 2em;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sticker_preview{
    grid-row-start:1;
    grid-column-start:1;
    width:100%;
    max-width:2em;
}

.sticker_full{
    grid-row-start:1;
    grid-column-start:1;
}
.sticker_name,.User{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
}

.dropper,.drop_id{
    grid-column-start: 2;
}

.willing_to_trade{
    grid-column-start: 2;
}

.trade_search {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .svg-search-icon{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3C!--Inserts picture of search icon--%3E%3Cpath class='path1' d='M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z'%3E%3C/path%3E%3C/svg%3E");;
  }